body{

display:flex;

justify-content:center;

background-image:url(fondo.png);

background-size:cover;

background-attachment:fixed;

margin:0;

}

.contenedor{

width:100%;

max-width:1200px;

margin:2rem;

background:white;

padding:2rem;

border-radius:1rem;
}

nav ul{
    display:flex;
    list-style:none;
    gap:2rem;
    padding:0;
}

nav a{

    text-decoration:none;
    color:black;
    font-weight:bold;

}

nav a:hover{

    color:red;

}

nav a:visited{

    color:black;

}

nav a:active{

    color:blue;

}

img{

    width:100%;
    max-width:600px;
    border-radius:1rem;
}

h1,h2,h3{

font-family:"Barlow",sans-serif;

}

p{

line-height:1.7;

}

strong{

color:red;

}

section{

margin-bottom:3rem;

}

footer{

margin-top:3rem;
text-align:center;

}

.columnas3{

display:flex;
gap:2rem;

}

.columna{

flex:1;

}

.columnas2{

display:flex;
gap:2rem;

}

.izquierda{

flex:2;

}

.derecha{

flex:1;

}