body{

display:flex;

justify-content:center;

background-image:url(fondo.png);

background-size:cover;

background-attachment:fixed;

margin:0;

}

.contenedor{

width:100%;

max-width:1200px;

margin:2rem;

background:white;

padding:2rem;

border-radius:1rem;

}